body {
    display: flex;
    flex-direction: column;
}

.header_intro_container {
    background-color: #1f2937;
}

.header {
    display: flex;
    gap: 16px;
}

a {
    color: white;
    text-decoration: none;
}

.logo {
    margin-right: auto;
}